body {
    margin: 0;
}

#map {
    height: 100vh;
    position: relative;
    width: 100%;
}

.maps-frame {
    height: 430px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
    color: #757575;
    display: inline-block;
    height: 100%;
    padding: 0 24px;
    width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
    padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
    color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
    text-decoration: none;
}

p.top-desc {
    padding: 1em 1em .1em 1em;
}

p.bottom-desc {
    padding: 0em 1em 1em 1em;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#menu{
    font-family: 'Roboto', sans-serif;
    position:fixed;
	font-size:11px;
    width:232px;
    height:200px;
	max-height: 70vh;
    background-color: rgba(10, 15, 33, 0.5);
    z-index:99999;
    right:30px;
    top: 25vh;
    border-radius:5px;
    color:white;
}
.menu_titulo{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#2e6da4;
}
.form-control {
width:auto;
display:inline-block;
}
.form-group{
	padding:12px !important;
	margin-bottom:1px;
}
#botoes{
	margin-left:10px;
}
#mais{
	margin-top:5px;
	margin-left:35px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}